.logo_section {

    padding: 2rem 1rem;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

nav {
    padding: 0 1rem;

    .nav_items {
        &::before {
            content: "  ";
            width: 2rem;
            height: 4rem;
            position: absolute;
            // left: 1.5rem;
            margin-top: 5px;
            z-index: 0;
            opacity: 0;
            transition: opacity 0.18s ease-in;
        }

        &:hover {

            &::before {
                opacity: 1;
            }
        }

        margin: 1rem 0;
        width: 100%;
        height: 5rem;
        border-radius: 5px;
        // border: 1px solid rgba(145, 144, 143, 0.65);

        .nav_button {
            // width: 100%;
            display: flex;
            height: 100%;
            align-items: center;
            padding-left: 2rem;
            backdrop-filter: blur(20px) saturate(2);
            border-radius: 5px;
            background: #ffffff24;
            position: relative;
            z-index: 3;
            margin-left: 3px;
            border: 1px solid rgba(145, 144, 143, 0.65);
        }
    }

    .active {
        &::before {
            opacity: 1;
        }
    }
}

.auth {
    padding: 3rem 1rem;
    display: flex;
    align-items: flex-end;
}