.logo_section {

    padding: 2rem 1rem;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-family: 'NeverWinter';
}

.navClose_btn {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;

    svg {
        width: 30px;
    }
}

nav {
    padding: 0 1rem;

    .nav_items {
        cursor: pointer;

        &::before {
            content: "  ";
            width: 2rem;
            height: 3.4rem;
            position: absolute;
            margin-top: 11px;
            border-radius: 10px;
            z-index: 0;
            opacity: 0;
            transition: opacity 0.18s ease-in;
        }

        &:hover {

            &::before {
                opacity: 1;
            }
        }

        margin: 1rem 0;
        width: 100%;
        height: 5rem;
        border-radius: 5px;
        // border: 1px solid rgba(145, 144, 143, 0.65);

        .nav_button {
            // width: 100%;
            display: flex;
            height: 100%;
            align-items: center;
            padding-left: 2rem;
            backdrop-filter: blur(20px) saturate(2);
            border-radius: 15px;
            // background: #ffffff24;
            background: var(--nav-item-bg-color);
            position: relative;
            z-index: 3;
            margin-left: 3px;
            border: 1px solid rgba(145, 144, 143, 0.65);
            font-size: 16px;

            svg {
                margin-right: 10px;
            }
        }
    }

    .active {
        &::before {
            opacity: 1;
        }
    }
}

.auth {
    padding: 3rem 1rem;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 760px) {
    .navClose_btn {
        display: block;
    }
}

@media (min-width: 1080px) {
    nav {
        margin-top: 5rem;
    }
}