.navBlock {
    position: relative;
    // box-shadow: inset -6px 0px 7px -3px #29004a;
    box-shadow: inset -6px -9px 9px -6px #010002df;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        backdrop-filter: saturate(1.5);
    }
}

// Mobile - Nav
@media screen and (max-width: 760px) {

    .navBlock {
        position: absolute;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        backdrop-filter: blur(1rem);
        z-index: 4;
    }
}

.note-block {
    // border-left: 1px solid #adadada8;
    backdrop-filter: saturate(1.5);
    // box-shadow: inset 10px 8px 1pc 0px #410076bd;
    box-shadow: inset 10px 0px 4px -8px #00000094, inset 10px 0px 60px -24px rgb(11, 1, 16);

    .icons_section {
        position: fixed;
        width: 100%;
        z-index: 10;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 1px;
            margin: 0 2rem;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) 3%, rgba(248, 248, 248, 0.23) 48%, rgba(255, 255, 255, 0.06) 97%);
        }

        .blur-bg {
            &::before {
                content: "";
                position: absolute;
                inset: -1px 0px -35%;
                pointer-events: none;
                user-select: none;
                backdrop-filter: blur(12px);
                mask-image: linear-gradient(to bottom, black 3.4rem, transparent);
            }
        }
    }

    .note-scroll-section {
        overflow-y: scroll;
        scroll-behavior: smooth;
        padding-top: 5rem;

        .user_section {


            section {
                // padding: 0 4rem 0 1rem;

                .greeting {
                    h1 {
                        font-size: 3.3rem;
                        -webkit-text-fill-color: transparent;
                        background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(211, 211, 211, 0.67)) padding-box text;
                        color: unset;
                    }
                }

                button {
                    // border: 1px solid #00000059;
                    border-radius: 5px;

                    // 3RD style
                    background: linear-gradient(92.88deg, rgba(116, 61, 196, 0.07) 9.16%, rgba(137, 57, 255, 0.51) 43.89%, rgba(103, 11, 196, 0) 64.72%);
                    text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
                    color: white;
                    font-size: 13px;
                    width: 9rem;
                    height: 2.6rem;
                    font-weight: 600;
                    // border: 1px solid #00000059;
                    backdrop-filter: blur(43rem);
                    border: 0.5px solid #41197170;
                    transition: box-shadow 0.15s ease-in;
                    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.54), inset 0 0 29px 0px rgba(170, 0, 255, 0.32),
                        -1px -1px 1px 0 #7d09dd;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background: rgba(48, 48, 48, 0.342);
                        backdrop-filter: saturate(1.2);
                        color: white;
                    }
                }
            }
        }


    }



}







@media (max-width: 500px) {
    .notesSection {
        .note-box {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

    }
}