svg {
    width: 1.2rem;
}

.menu_btn {
    margin-left: 1.5rem;

    button.menu-btn {
        padding: 3px;
        border-radius: 5px;
        backdrop-filter: blur(45rem) saturate(1.12) brightness(1.2);

        &:hover {
            background: #5b358175;
        }

        svg {
            width: 1.35rem;
            margin: 0.3rem;

            path {
                fill: #e8e4e4
            }
        }
    }
}

.icon_box {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    place-items: center;
    gap: 1rem;

    .theme_btn {
        padding: 0.5rem 1rem;

        button {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 6.6rem;
            padding: 5px 0px;
            border-radius: 2rem;


            .active {
                path {
                    fill: #03f1e5;
                }

                box-shadow: inset 1px 1px 2px 0px #0000004f,
                inset -1px -1px 2px 0px #316ed8;
            }

            svg {
                padding: 3px 5px;
                width: 2rem;
                border-radius: 10px;
            }

            .moonIcon {
                &:hover {
                    path {
                        fill: #03f1e5;
                    }

                    box-shadow: inset 1px 1px 2px 0px #0000004f,
                    inset -1px -1px 2px 0px #1f96d6;
                }
            }

            .sunIcon {
                &:hover {
                    path {
                        fill: #f4ee06;
                    }

                    box-shadow: inset 1px 1px 2px 0px #0000004f,
                    inset -1px -1px 2px 0px #eaa21c;
                }
            }
        }

    }

    .notification_btn {
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;

        svg {
            width: 1.1rem;

            path {
                fill: #8a8686
            }
        }

        &:hover {
            path {
                fill: #ffffff
            }
        }
    }

    .user_avatar {
        padding: 10px 15px;
        border-radius: 5px;

        svg {
            path {
                fill: #8a8686
            }
        }

        &:hover {
            path {
                fill: #ffffff
            }
        }
    }




}


.icon_btn {
    backdrop-filter: blur(45rem) saturate(1.12);
    transition: backdrop-filter 0.2s ease-in;
    background: rgba(254, 254, 254, 0.05);
    box-shadow: var(--icon-btn-bg-color);

    svg {
        path {
            fill: rgb(138, 134, 134)
        }
    }

    &:hover {
        background: rgba(154, 153, 156, 0.25);
        backdrop-filter: contrast(3);
    }
}

@media screen and (max-width: 760px) {

    .menu_btn {
        button.menu-btn {
            display: block;
        }
    }
}